.home-page {
  padding-top: 350px;
  .text-zone {
    position: absolute;
    left: 15%;
    top: 40%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  
   h1 {
    color: #8b8a91;
    font-size: 10rem;
    line-height: 100px;
    margin: 0;
    word-break: keep-all;
    font-family: 'Coolvetica';
    font-weight: 400;
    
  .one{
    color: white;
    line-height: 100px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    }
    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: white;
      font-size: 18px;
      position: absolute;
      margin-top: -50px;
      opacity: 0.6;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: white;
      font-size: 18px;
      position: absolute;
      margin-top: 38px;
      margin-left: 10px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }

  h2 {
    color: #0A66C2;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #0A66C2;
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 4px;
    font-family: 'Coolvetica';
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid #0A66C2;
    border-radius: 5px;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #0A66C2;
      color: white;
    }
  }
}
}

.image-zone {
  position: absolute;
  right: 15%;
  top: 40%;
  border-radius: 100%;
  transform: translateY(-50%);
  width: auto;

  &:before {
    content: '<img';
    font-family: 'La Belle Aurore', cursive;
    color: white;
    font-size: 18px;
    position: absolute;
    margin-top: 30px;
    margin-left: 30px;
    opacity: 0.6;
  }

  &:after {
    content: '/>';
    font-family: 'La Belle Aurore', cursive;
    color: white;
    font-size: 18px;
    position: absolute;
    margin-top: 450px;
    margin-left: -50px;
    animation: fadeIn 1s 1.7s backwards;
    opacity: 0.6;
  }
}

.image-zone .myPic{
    height: 500px;
    border-radius: 100%;
    border: 5px solid white;
}
.image-zone .myPic:hover{
    border: 5px solid #0A66C2;
    animation-name: myPiic;
    animation-timing-function: ease-in-out;
    animation-duration: .8s;
    transform-style: preserve-3d;
}
@keyframes myPiic {
  from,
  to {
    transform: rotate(0deg);
  }  
  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width: 1800px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }
  .tags,
  .image-zone:before,
  .image-zone:after {
    display: none;
  }

  .home-page .text-zone {
    position: absolute;
    left: 15%;
    top: 40%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    h1{
      color: #8b8a91;
      font-size: 8rem;
      line-height: 80px;
      margin: 0;
      word-break: keep-all;
      font-family: 'Coolvetica';
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 1600px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }
  .home-page .text-zone {
    position: absolute;
    left: 40%;
    right: 10%;
    top: 500px;
    width: auto;
    h1{
      color: #8b8a91;
      font-size: 6rem;
      line-height: 10px;
      margin: 0;
      word-break: keep-all;
      font-family: 'Coolvetica';
      font-weight: 400;
    }
    h2{
      font-size: 1rem;
      letter-spacing: 1px;
    }
    .flat-button {
      float: none;
      display: block;
      font-size: 1rem;
      text-align: center;
      width: 400px;
      height: 10px;
    }
  }
  .image-zone {
    position: absolute;
    border-radius: 100%;
    top: 250px;
    width: 40%;

     .myPic{
      height: 250px;
      border-radius: 100%;
      border: 5px solid white;
  }
  }
}

@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .home-page .text-zone {
    position: initial;
    margin-top: 200px;
    padding-left: 30px;
    width: 100%;
    h1{
      text-align: center;
      font-size: 8rem;
      line-height: 80px;
    }
    h2{
      text-align: center;
      font-size: 1rem;
      letter-spacing: 1px;
    }
    .flat-button {
      float: none;
      display: block;
      font-size: 1rem;
      text-align: center;
      width: 400px;
      margin: 0 auto;
      height: 10px;
    }
  }

  .image-zone {
    position: absolute;
    left: 42%;
    right: 30%;
    top: 150px;
    width: auto;

     .myPic{
      height: 150px;
      border-radius: 100%;
      border: 5px solid white;
  }
  }
}

@media screen and (max-width: 650px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .home-page .text-zone {
    position: initial;
    margin-top: 180px;
    padding-left: 10px;
    width: 100%;
    h1{
      text-align: center;
      font-size: 4rem;
      line-height: 0px;
    }
    h2{
      text-align: center;
      font-size: 1rem;
      letter-spacing: 1px;
    }
    .flat-button {
      float: none;
      display: block;
      font-size: 1rem;
      text-align: center;
      width: 300px;
      margin: 0 auto;
      height: 10px;
    }
  }

  .image-zone {
    position: absolute;
    left: 40%;
    right: 30%;
    top: 150px;
    width: auto;

     .myPic{
      height: 150px;
      border-radius: 100%;
      border: 5px solid white;
  }
  }
}

@media screen and (max-width: 500px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .home-page .text-zone {
    position: initial;
    margin-top: 0px;
    padding-left: 0px;
    width: 100%;
    h1{
      text-align: center;
      font-size: 4rem;
      line-height: 0px;
    }
    h2{
      text-align: center;
      font-size: 1rem;
      letter-spacing: 1px;
    }
    .flat-button {
      float: none;
      display: block;
      font-size: 1rem;
      text-align: center;
      width: 300px;
      margin: 0 auto;
      height: 10px;
    }
  }

  .image-zone {
    position: absolute;
    left: 29%;
    top: 120px;
    width: auto;

     .myPic{
      height: 150px;
      border-radius: 100%;
      border: 5px solid white;
  }
  }
}