@media screen and (min-width: 500px) {
.snowchild-page {
    display: flex;
    width: 100%;
    height: 100%;
    top: 0px;


    .snow-data{
        padding-top: 100px;
        margin: 0 auto;
        width: 50%;
        height: auto;
        padding-bottom: 50px;
        overflow: auto;

        .TextZone{
            width: 100%;
            text-align: center;
        }

        h1 {
            font-size: 10rem;
            font-family: 'Coolvetica';
            color: #8b8a91;
            font-weight: 400;
          
            &:before {
              content: '<h1>';
              font-family: 'La Belle Aurore', cursive;
              color: #8b8a91;
              padding-right: 12px;
              font-size: 18px;
              opacity: 0.6;
              line-height: 18px;
            }
          
            &:after {
              content: '<h1/>';
              font-family: 'La Belle Aurore', cursive;
              color: #8b8a91;
              font-size: 18px;
              padding-left: 12px;
              line-height: 18px;
              opacity: 0.6;
            }
          }
          .techUsed{
            height: auto;
            width: 700px;
            margin: 0 auto;
            border-radius: 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
          
            .lang-soft{
              font-family: 'Coolvetica';
              font-weight: 100;
              border-radius: 5px;
              padding: 1px;
              letter-spacing: 2px;
              padding-left: 12px;
              padding-right: 12px;
              margin: 8px;
              width: auto;
              height: auto;
              font-size: 1.8rem;  
            }
            .lang-soft#java{
              border: 2px solid #f89820;
              animation:pulse 1s;
              &:nth-of-type(1) {
                animation-delay: 1.1s;
              }
            }
            .lang-soft#xml{
              border: 2px solid #9e20f8;
              animation:pulse 1s;
              &:nth-of-type(2) {
                animation-delay: 1.2s;
              }
            }
            .lang-soft#as{
              border: 2px solid #a4c639;
              animation:pulse 1s;
              &:nth-of-type(3) {
                animation-delay: 1.3s;
              }
            }
            .lang-soft#git{
              border: 2px solid #f34f29;
              animation:pulse 1s;
              &:nth-of-type(4) {
                animation-delay: 1.4s;
              }
            }
            .lang-soft#photoshop{
              border: 2px solid rgb(49, 168, 255);
              animation:pulse 1s;
              &:nth-of-type(5) {
                animation-delay: 1.5s;
              }
            }
            .lang-soft#xd{
              border: 2px solid #d5386f;
              animation:pulse 1s;
              &:nth-of-type(6) {
                animation-delay: 1.6s;
              }
            }
          }
          
          p{
            width: 900px;
            margin: 100px auto;
            font-size: 2rem;
            font-family: 'Coolvetica';
            text-align: justify;
            animation:pulse 1s;
            &:nth-of-type(1) {
              animation-delay: 1.6s;
            }
          }
          .mainPoints{
            width: 900px;
            margin: 80px auto;
            font-size: 2rem;
            font-family: 'Coolvetica';
            text-align: justify;
            animation:pulse 1s;
            &:nth-of-type(1) {
              animation-delay: 1.6s;
            }

            h3{
              letter-spacing: 2px;
            }
          }
          .snowChildTypo{
            width: 100%;
          }

          .imageSet{
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
          .screen{
            height: 400px;
          }

          .headingText{
            width: 900px;
            margin: 60px auto;
            font-size: 2rem;
            font-family: 'Coolvetica';
            letter-spacing: 2px;
          }
          .myButton{
            width: 100%;
          }
          .popularBar{
            width: 100%;
          }
          .yourOwn{
            width: 100%;
          }
        }
        
        .snow-data::-webkit-scrollbar {
            display: none;
          }
          
        .snow-data {
            -ms-overflow-style: none;
            scrollbar-width: none;  
        }
    }
}

@media screen and (max-width: 500px) {
  .snowchild-page {
      display: flex;
      width: 100%;
      height: 100%;
      top: 0px;
  
  
      .snow-data{
          padding-top: 20px;
          margin: 0 auto;
          width: 80%;
          height: auto;
          padding-bottom: 50px;
          overflow: auto;
  
          .TextZone{
              width: 100%;
              text-align: center;
          }
  
          h1 {
              font-size: 4rem;
              font-family: 'Coolvetica';
              color: #8b8a91;
              font-weight: 400;
            
              &:before {
                display: none;
              }
            
              &:after {
                display: none;
              }
            }
            .techUsed{
              height: auto;
              width: auto;
              margin: 0 auto;
              border-radius: 10px;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: space-evenly;
            
              .lang-soft{
                font-family: 'Coolvetica';
                font-weight: 100;
                border-radius: 5px;
                padding: 1px;
                letter-spacing: 1px;
                padding-left: 5px;
                padding-right: 5px;
                margin: 1px;
                width: auto;
                height: auto;
                font-size: 1rem;  
              }
              .lang-soft#java{
                border: 2px solid #f89820;
                animation:pulse 1s;
                &:nth-of-type(1) {
                  animation-delay: 1.1s;
                }
              }
              .lang-soft#xml{
                border: 2px solid #9e20f8;
                animation:pulse 1s;
                &:nth-of-type(2) {
                  animation-delay: 1.2s;
                }
              }
              .lang-soft#as{
                border: 2px solid #a4c639;
                animation:pulse 1s;
                &:nth-of-type(3) {
                  animation-delay: 1.3s;
                }
              }
              .lang-soft#git{
                border: 2px solid #f34f29;
                animation:pulse 1s;
                &:nth-of-type(4) {
                  animation-delay: 1.4s;
                }
              }
              .lang-soft#photoshop{
                border: 2px solid rgb(49, 168, 255);
                animation:pulse 1s;
                &:nth-of-type(5) {
                  animation-delay: 1.5s;
                }
              }
              .lang-soft#xd{
                border: 2px solid #d5386f;
                animation:pulse 1s;
                &:nth-of-type(6) {
                  animation-delay: 1.6s;
                }
              }
            }
            
            p{
              width: auto;
              margin: 50px auto;
              font-size: 1.2rem;
              font-family: 'Coolvetica';
              text-align: justify;
              animation:pulse 1s;
              &:nth-of-type(1) {
                animation-delay: 1.6s;
              }
            }
            .mainPoints{
              width: auto;
              margin: 50px auto;
              font-size: 1.2rem;
              font-family: 'Coolvetica';
              text-align: justify;
              animation:pulse 1s;
              &:nth-of-type(1) {
                animation-delay: 1.6s;
              }
  
              h3{
                text-align: start;
                letter-spacing: 1px;
              }
            }
            .snowChildTypo{
              width: 100%;
            }
  
            .imageSet{
              width: 100%;
              display: flex;
              justify-content: space-evenly;
            }
            .screen{
              height: 120px;
            }
  
            .headingText{
              width: auto;
              margin: 50px auto;
              font-size: 1.5rem;
              font-family: 'Coolvetica';
              letter-spacing: 1px;
            }
            .myButton{
              width: 100%;
            }
            .popularBar{
              width: 100%;
            }
            .yourOwn{
              width: 100%;
            }
          }
          
          .snow-data::-webkit-scrollbar {
              display: none;
            }
            
          .snow-data {
              -ms-overflow-style: none;
              scrollbar-width: none;  
          }
    } 
}
